[submodule "utils"]
	path = utils
	url = https://github.com/soma0sd/jetson-utils
	branch = master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://github.com/dusty-nv/camera-capture
	branch = master
[submodule "plugins/pose"]
	path = plugins/pose
	url = https://github.com/dusty-nv/trt_pose
